.heroImage {
    display: flex;
    overflow: hidden;
    flex-direction: row;

    @media (width <= 768px) {
        flex-direction: column;
    }
    margin-top: 20px;
}

.heroImageImg {
    object-fit: cover;
    width: 50%;

    @media (width <= 768px) {
        width: 100%;
    }
}

.heroImageContentBox {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.heroImageTitle {
    font-size: 53px;

    @media (width <= 1024px) {
        font-size: 52px;
    }
    line-height: 58px;
}

.heroImageDescription {
    text-wrap: pretty;
    line-height: 1.2em;
    font-size: 20px;
}

.heroImageExploreButton {
    padding: 16px 24px;
    background-color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    align-self: flex-start;
    color: white;
    @media (width <= 1024px) {
        font-size: 16px;
    }
    border: 0px solid black;
}

.heroImageExploreButton:hover {
    background-color: #848484;
}
